@font-face {
    font-family: 'rubik';
    src: url('/fonts/Rubik-Medium.ttf');
}

#header{
    display: inline;

    text-align: center;
}

body { 
    overflow: hidden;
    background-color: white;
}

#car { 
    position: absolute; 
    left: -1000px; 
    width: 50% /* <- not relevant for the animation */ 
}

#cloud1 { 
    /* position: absolute; 
    left: -50px;  */
    text-align: center;
    width: 70% /* <- not relevant for the animation */ 
}

#cloud2 { 
    /* position: absolute; 
    left: 10px;  */
    text-align: center;
    width: 70% /* <- not relevant for the animation */ 
}

.container {
    padding: 70px 0;
        /* border: 3px solid green; */
    display: flex;
    justify-content: space-evenly;
}

#cloud1container {
    font-family: 'rubik'; 
    visibility: hidden;
    text-align:center;
    float: left;
    position: relative;
}

#cloud2container {
    font-family: 'rubik'; 
    visibility: hidden;
    text-align:center;
    float: left;
    position: relative;
}

.cloud {
    color: white;
}

.cloud:hover {
    cursor: pointer;
    font-size: 24px;
    opacity: 0.5;
    color: black;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textHeader{
    display: inline;
    vertical-align: middle;
}

#logo{
    display: inline;
    vertical-align: middle;
    width: 5%;
}