@font-face {
  font-family: 'rubik';
  src: url('/fonts/Rubik-Medium.ttf');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #000247;
  background-color: lightcyan;

  font-family: 'rubik';
}

a {
  color: #00B7FF;
}

