<link rel='stylesheet' href='/stylesheets/cities.css' />
<h1>Check out the fuel patterns of the following cities!</h1> 
{{!-- <p>Welcome to {{title}}</p> --}}

<br>
<br>
<div class="flexcontainer">
    <div>
        <button class="city" id="nyc" onclick="window.location.href = '/cities/new_york_city'">NYC</button>
    </div>
    <div>
        <button class="city" id="delhi" onclick="window.location.href = '/cities/delhi'">Delhi</button>
    </div>
    <div>
        <button class="city" id="taiwan" onclick="window.location.href = '/cities/taiwan'">Taiwan</button>
    </div>
</div>
<script defer>
    var mpg_per_city = {{{json mpg_per_city}}};
    let nyc = document.getElementById("nyc");
    nyc.style.width = (parseInt(mpg_per_city["NYC"][0], 10) * 10).toString().concat("px");
    nyc.style.height = (parseInt(mpg_per_city["NYC"][0], 10) * 10).toString().concat("px");
    let delhi = document.getElementById("delhi");
    delhi.style.width = (parseInt(mpg_per_city["Delhi"][0], 10) * 10).toString().concat("px");
    delhi.style.height = (parseInt(mpg_per_city["Delhi"][0], 10) * 10).toString().concat("px");
    let taiwan = document.getElementById("taiwan");
    taiwan.style.width = (parseInt(mpg_per_city["Taiwan"][0], 10) * 10).toString().concat("px");
    taiwan.style.height = (parseInt(mpg_per_city["Taiwan"][0], 10) * 10).toString().concat("px");
    console.log(mpg_per_city);
</script>
