<h1>Analysis of Factors Affecting Fuel Efficiency</h1>
{{!-- <p>Welcome to {{title}}</p> --}}
<div style="width:100%;">
  <canvas id="canvas"></canvas>
  {{!-- <canvas id="barChartCanvas"></canvas> --}}
</div>
<br>
<br>
{{!-- <button id="randomizeData">Randomize Data</button> --}}
{{!-- <button id="addDataset">Add Dataset</button> --}}
{{!-- <button id="removeDataset">Remove Dataset</button> --}}
{{!-- <button id="addData">Add Data</button> --}}
{{!-- <button id="removeData">Remove Data</button> --}}
<script>
var timeVsSpeed = {{{json timeVsSpeed}}};
</script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/line_demo_1.js"></script>
{{!-- <script src="/javascripts/barChart.js"></script> --}}
<style>
canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
</style>
