<link rel='stylesheet' href='/stylesheets/landing.css' />
<h1>MPGreen</h1>
<img id="car" src="/imgs/car.png" />
<div class="container">
    <div id="cloud1container">
        <img id="cloud1" src="/imgs/cloud.png" onclick="window.location.href = '/behaviors'"/>
        <div class="centered">Behaviors</div>
    </div>
    <div class="cloud" id="cloud2container">
        <img id="cloud2" src="/imgs/cloud.png" onclick="window.location.href = '/cities'"/>
        <div class="centered">Cities</div>
    </div>
</div>


<script src="/javascripts/animateLanding.js"></script>
