<link rel='stylesheet' href='/stylesheets/landing.css' />
<h1>Welcome!</h1>
<img id="car" src="/imgs/car.png" />
<div class="container">
    <div>
        <img id="cloud1" src="/imgs/cloud.jpeg" />
    </div>
    <div>
        <img id="cloud2" src="/imgs/cloud.jpeg" />
    </div>
</div>


<script src="/javascripts/animateLanding.js"></script>

