<link rel='stylesheet' href='/stylesheets/landing.css' />
<div id="header">
    <h1 id="textHeader">MPGreen</h1>
    <img id="logo" src="/imgs/green_eyes.jpeg"/>
</div>
<img id="car" src="/imgs/carclipart.png" />
<div class="container">
    <div class="cloud" id="cloud1container">
        <img id="cloud1" src="/imgs/cloud.png" onclick="window.location.href = '/behaviors'"/>
        <div class="centered" onclick="window.location.href = '/behaviors'">Behaviors</div>
    </div>
    <div class="cloud" id="cloud2container">
        <img id="cloud2" src="/imgs/cloud.png" onclick="window.location.href = '/cities'"/>
        <div class="centered" onclick="window.location.href = '/cities'">Cities</div>
    </div>
</div>


<script src="/javascripts/animateLanding.js"></script>
