<h1>{{city}} {{subcity}}</h1>
<div style = "width: 100%">
  <canvas id = "subcitycanvas"></canvas>
</div>
<script>
var speedMPGData = {{{json speedMPGData}}};
var subcity = {{{json subcity}}}
</script>
<script src = '/javascripts/utils.js'></script>
<script src = '/javascripts/chart_utilities.js'></script>
<script src = '/javascripts/subcity.js'></script>
